nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

.navleft {
  display: flex;
  font-family: 'Bungee', cursive;
  font-size: 2.3em;
  height: 1em;
 }
 
 .navright {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .write {
   font-weight: 900;
 }

 #navicon {
   color: rgb(227, 30, 30);
 }

 .navnew {
  height: 0.3em;
 }

