nav {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  width: 100vw;
  /*background-color: #4056A1; /* ---> min 768px*/
  background-color: transparent;
  /*---> min 320px*/
  color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  top: 0;
  z-index: 1;
  margin-top: 4%;
}

.navleft {
  display: flex;
  font-family: 'Bungee', cursive;
  font-size: 1.8rem;
  height: 1em;
}

.navright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5%;
}

.write {
  font-weight: 900;
}

#navicon {
  color: rgb(227, 30, 30);
  font-size: 0.75em;
  padding-top: 1.2%;
}

.navnew {
  height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: large;
}

@media only screen and (min-width: 768px) {
  .navnew {
    font-size: larger;
  }

  #navicon {
    font-size: 1.1em;
  }

  .navleft {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    height: 10vh;
    width: 100vw;
    margin-top: 0;
    background-color: #4056A1;
    padding-left: 4vw;
    padding-right: 5vw;
    display: flex;
    align-items: center;
  }

  #navicon {
    font-size: 0.8em
  }

  .navleft {
    font-size: 2rem;
    padding-top: 0.3%;

  }

  .navnew {
    font-size: 1em;
  }

  .navright {
    padding-top: 0.5em;
  }


}