.new-tweet {
  padding-bottom: 2em;
}

textarea {
  resize: none;
  font-size: 1em;
  height: 1.7em;
  width: 80vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

form {
  padding-top: 1em;
  width: 79.5vw;
  height: 5.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tweet-text {
  background: transparent;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 0.25em;
  width: 79vw;
  border-color: black;
}

#tweet {
  background-color: #4056A1;
  color: aliceblue;
}

.undertext {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  width: 79vw;
}

.error {
  margin-bottom: 1%;
  color: red;
}

@media only screen and (min-width: 1024px) {
  .undertext {
    width: 54vw;
  }

  #tweet-text {
    width: 54vw;
  }

  #submit {
    width: 55vw;
    align-items: center;
  }

  .error {
    width: 55vw;
  }
}